---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

//// Predefined Break-points (for _cmq.scss)
$mediaMinWidth: 320px;
$mediaBp1Width: 600px;
$mediaMaxWidth: 1024px;

// typog
$base-font-family: 'Lato', sans-serif;
$base-font-size:   18px;
  $small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;
//util
$spacing-unit:     30px;

//colors
$background_color: #e6e6e6; //#fdfdfd;
$brand_color:      hsla(209, 100%, 40%, 1);//0069cc
  //invert + other tests:
  $brand_color-invert: invert($brand_color);
  $brand_color-complementary: complement($brand_color);

//bg
$top_color: $background-color;
$text_color:       #111;
  $link_color:      $brand_color;

$grey_color:       #212121;
  $grey_color-light: lighten($grey_color, 40%);
  $grey_color-dark:  darken($grey_color, 25%);



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "cmq",
        "base",
        "layout",
        "cover",
        "home",
        "post",
        "clock",
        "syntax-highlighting",
        "buttons"
;
