---
layout: cover
---
<div class="wrapper">
  <h2 class="works_title">Recent works:</h2>
</div>


<div class="home_content">
  <ul class="post_list">

    {% for post in site.posts %}
      <li class="{{ post.tag }}">
          <a class="post_link" href="{{ post.url | prepend: site.baseurl }}">
            {% if post.ico_url %}
            <div class="post_link_ico {{post.ico_name}}">
              <img class="" src="{{post.ico_url}}" alt="{{post.title}}" />
            </div>
            {% endif %}
            <span class="post_link_text" ></span>{{ post.title }}
            <div class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</div>
          </a>
      </li>
    {% endfor %}

  </ul>
</div>
