<div class="wrapper flex flex_rows flex_wrap ">

  <div class="section scrolltarget">

    <div class="mean_icon">
      {% include svg/sources/about_jstar.svg %}
    </div>

    <h1 class="header_title">Junglestar?</h1>
    <h3 class="color_black">A small web agency.</h3>

    <div class="text">

      {% capture text_block1 %}{% include text_blocks/junglestar.md %}{% endcapture %}
      {{ text_block1 | markdownify }}
    </div>

  </div>

  <div class="section">

    <div class="mean_icon">
      {% include svg/sources/about_new_idea.svg %}
    </div>

    <h1 class="header_title">New idea?</h1>
    <h3 class="color_black">Lets talk about it.</h3>

    <div class="text">
      {% capture text_block2 %}{% include text_blocks/new_idea.md %}{% endcapture %}
      {{ text_block2 | markdownify }}
    </div>

  </div>

  <div class="section">

    <div class="mean_icon">
      {% include svg/sources/about_today_tools.svg %}
    </div>

    <h1 class="header_title">Internet presence?</h1>
    <h3 class="color_black">Let's leverage the new tools.</h3>

    <div class="text">
      {% capture text_block3 %}{% include text_blocks/today_tools.md %}{% endcapture %}
      {{ text_block3 | markdownify }}
    </div>

  </div>

  <div class="section">

    <div class="mean_icon">
      {% include svg/sources/about_guidance.svg %}
    </div>

    <h1 class="header_title">Guidance?</h1>
    <h3 class="color_black">Make life easier.</h3>

    <div class="text">
      {% capture text_block4 %}{% include text_blocks/guidance.md %}{% endcapture %}
      {{ text_block4 | markdownify }}
    </div>

  </div>

  <div class="section">

    <div class="mean_icon">
      {% include svg/sources/about_who.svg %}
    </div>

    <h1 class="header_title">Who are we?</h1>
    <h3 class="color_black">A professionist network.</h3>

    <div class="text">
      {% capture text_block5 %}{% include text_blocks/who.md %}{% endcapture %}
      {{ text_block5 | markdownify }}
    </div>

  </div>

  <div class="section">

    <div class="mean_icon">
      {% include svg/sources/about_open.svg %}
    </div>

    <h1 class="header_title">We ♡ Open source</h1>
    <h3 class="color_black">The power of an open community.</h3>

    <div class="text">
      {% capture text_block6 %}{% include text_blocks/open_source.md %}{% endcapture %}
      {{ text_block6 | markdownify }}
    </div>

  </div>

</div>
