<div class="wrapper flex flex_rows flex_wrap">

  <div class="section">


    <div class="mean_icon">
      {% include svg/about_today_tools.svg %}
    </div>

    <h1 class="title">Building for the Phones Era</h1>


    <div class="text">
      {% capture text_block1 %}{% include text_blocks/phone_era.md %}{% endcapture %}
      {{ text_block1 | markdownify }}
    </div>

  </div>

  <div class="section">

    <div class="mean_icon">
      {% include svg/about_guidance.svg %}
    </div>

    <h1 class="title">Today you don't buy software</h1>

    <div class="text">
      {% capture text_block2 %}{% include text_blocks/pay_developer.md %}{% endcapture %}
      {{ text_block2 | markdownify }}
    </div>

  </div>

  <div class="section">

    <div class="mean_icon">
      {% include svg/about_jstar.svg %}
    </div>

    <h1 class="title">From plan to working product.</h1>

    <div class="text">
      {% capture text_block3 %}{% include text_blocks/how.md %}{% endcapture %}
      {{ text_block3 | markdownify }}
    </div>

  </div>

  <div class="section">

    <div class="mean_icon">
      {% include svg/about_open.svg %}
    </div>

    <h1 class="title">Open source technology</h1>

    <div class="text">
      {% capture text_block4 %}{% include text_blocks/tech.md %}{% endcapture %}
      {{ text_block4 | markdownify }}
    </div>

  </div>


</div>
