{% include ascii_art_junglestar_banner.html %}

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ page.title }}</title>

  <meta name="version" content="{{ site.version }}">

  <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">

  <noscript id="deferred-styles">
    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:100,400,700&display=swap"> -->


    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600;700&display=swap" rel="stylesheet">

  </noscript>

  <script type="text/javascript">
    // load css
    var loadDeferredStyles = function() {
        var addStylesNode = document.getElementById("deferred-styles");
        var replacement = document.createElement("div");
        replacement.innerHTML = addStylesNode.textContent;
        document.body.appendChild(replacement)
        addStylesNode.parentElement.removeChild(addStylesNode);
    };
    var raf = window.requestAnimationFrame || window.mozRequestAnimationFrame ||
        window.webkitRequestAnimationFrame || window.msRequestAnimationFrame;
    if (raf) raf(function() { window.setTimeout(loadDeferredStyles, 0); });
      else window.addEventListener('load', loadDeferredStyles);
  </script>



  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

  {% capture inline_css %}
    {% include main.scss %}
  {% endcapture %}
  <style>{{ inline_css | scssify }}</style>

  {% include favico.html %}

  {% include open_graph.html %}

  <meta name="google-site-verification" content="{{site.google.verify}}" />

  {% if page.layout contains 'design' %}

    {% include script_sal.html %}
    {% include script_sal_css.html %}

  {% endif %}

  {% if page.layout contains 'content' %}

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

    <script>
      // INITIALIZE AOS
      AOS.init();
    </script>
    {% comment %} {% include script_scrollreveal.html %}{% endcomment %}

  {% endif %}

</head>
