<div class="wrapper wrapper--slim flex flex_align_center full_height ">

  <div class="flex flex_wrap">

    <a class="section to_presentation" href="{% link _pages/design.md %}">

      {% comment %}
      scrolltarget span wrap is needed cos js will scroll to the vertical center of the span block
      {% endcomment %}
      <span class="scrolltarget">

        <div class="color_icon">
          {% include svg/sources/1.svg %}
        </div>

        <h1 class="header_title">It's a Jungle out there.</h1>

        <h3 class="header_title color_white">Can customers reach you?</h3>

        <div class="text">
          <p>Can you get noticed, are you recognizable? When I google your company name which infos can I get?</p>

          <p>Needing a landing page or an online shop? Marketing using social media?</p>

          <p>Today 60% of internet traffic comes from phones. Is your website ready for that?</p>

          <p>It's never been easier to launch a brand new internet presence.</p>

          <small class="button button--dark">Know more</small>
        </div>

      </span>

    </a>


    <a class="section to_about" href="/about/">

      <div class="color_icon">
        {% include svg/sources/2.svg %}
      </div>

      <h1 class="header_title">You need serious help.</h1>

      <h3 class="header_title color_white">Junglestar is a small, flexible web agency. A one-stop-shop for small enterprises.</h3>

      <div class="text">
        <p>We help with marketing communication. We grow relationships with clients.</p>

        <p>We advise on strategies, produce content, manage social media. We make websites and apps. </p>

        <p>We've been dealing with communication for over 25 years.</p>

        <small class="button button--dark">Learn about us</small>
      </div>

    </a>

  </div>

</div>
