<div class="wrapper">

 <a class="to_presentation"  href="http://junglestar.org/1-It-s-a-Jungle-Out-There/">

   <h2>It's a Jungle out there.</h2>

   <p>Setup shop online? Can customers reach you? How's your business communicating? 60% of internet traffic comes from mobiles. And it's never been easier to kick start a brand new internet presence.</p>

   <small class="button">See our slide presentation</small>

 </a>

  <a class="to_about" href="/about/">

    <h2>Internet can help.</h2>

    <p>Jungle✩Star is a small, flexible web agency. We help companies and individuals organize their communication. We grow relationships with clients. We make internet things that work on phones.</p>

    <small class="button">Read about us</small>

  </a>

</div>
