<div class="mean_title mean_title--first">
  <div class="wrapper flex flex_cols flex_align_center flex_justify_center">
    <div class="mean_icon">
      {% include svg/sources/desperate.svg %}
    </div>
    <h1 class="center">{{ page.question2 }}</h1>
  </div>
</div>

<div class="mean_title mean_title--second">
  <div class="wrapper flex flex_cols flex_align_center flex_justify_center">
    <div class="mean_icon">
      {% include svg/sources/jumping.svg %}
    </div>
    <h3 class="center">{{ page.answer1 }} <br>{{ page.answer2 }}</h3>
  </div>
</div>
