

<div class="mean_title mean_title--first">
  <div class="wrapper">
    <h1 class="center">Is your website mobile hostile?</h1>
  </div>
</div>

<div class="mean_title">
  <div class="wrapper">
    <h3 class="center">We can help you fix that. <br>We offer affordable packages for any budget!</h3>
  </div>
</div>

<div class="product_grid top_pad--big">

{% for product in site.products reversed %}

  {% unless product.publish=='notyet' %}

    {% include product_card.html %}

  {% endunless %}

{% endfor %}

</div>
