<div class="mean_title mean_title--first">
  <div class="wrapper flex flex_cols flex_align_center flex_justify_center">
    <div class="mean_icon">
      {% include svg/location.svg %}
    </div>
    <h1 class="center">Want more customers finding your location?</h1>
  </div>
</div>

<div class="mean_title">
  <div class="wrapper flex flex_cols flex_align_center flex_justify_center">
    <div class="mean_icon">
      {% include svg/google_my_biz.svg %}
    </div>
    <h3 class="center">Using Google My Business <br>we'll provide all details about your shop, phone number, working hours, products, location, in a way that will display when people search Google.<br>This ultra convenient offer includes a website too!</h3>
  </div>
</div>


<div class="button_row center">
  <a href="mailto:{{site.email}}?subject=Send me more infos about Junglestar's Google Biz package">
    <span class="button center">Let's start talking!</span>
  </a>
</div>
