<div class="product_grid top_pad--big">

  {% if page.language contains "english" %}
    {% for product in site.products reversed %}

      {% unless product.publish=='notyet' %}
        {% unless product.type=='streetbiz' %}
          {% include product_card.html %}
        {% endunless %}
      {% endunless %}

    {% endfor %}
  {% endif %}

  {% if page.language contains "indonesia" %}
    {% for product in site.products reversed %}

      {% unless product.publish=='notyet' %}
        {% unless product.type=='streetbiz' %}
          {% include product_card_id.html %}
        {% endunless %}
      {% endunless %}

    {% endfor %}
  {% endif %}



</div>
