{% for product in site.products %}

  {% unless product.publish=='notyet' %}
    {% if product.type=='streetbiz' %}

      <div class="mean_title mean_title--first">
        <div class="wrapper flex flex_cols flex_align_center flex_justify_center">
          <div class="mean_icon">
            {% include svg/sources/location.svg %}
          </div>
          <h1 class="center">{{ product.indonesia.header }}</h1>
        </div>
      </div>

      <div class="mean_title mean_title--second">
        <div class="wrapper flex flex_cols flex_align_center flex_justify_center">
          <div class="mean_icon">
            {% include svg/sources/google_my_biz.svg %}
          </div>
          <h2 class="center">{{ product.indonesia.title }}</h2>
          <h3 class="center">{{ product.indonesia.paragraph1 }} <br>{{ product.indonesia.paragraph2 }} <br>{{ product.indonesia.paragraph3 }} <br>{{ product.indonesia.paragraph4 }} <br>{{ product.indonesia.paragraph5 }} <br>{{ product.indonesia.paragraph6}} <br><strong>{{ product.indonesia.paragraph7 }}</strong></h3>
        </div>
      </div>


      <div class="print_only">

        {% if page.prices_rp %}

          <div class="starting_at center print_footer">
            <p>Mulai dari 2.900.000 Rp.</p>
          </div>

          {% if page.show_agent_prices %}

            <div class="starting_at center agent_price">
              <p>Harga agen 2.300.000 Rp.</p>
            </div>

            <div class="starting_at center agent_gets">
              <p>Agen mendapat 600.000 Rp.</p>
            </div>

          {% endif %}

        {% else %}

          <div class="starting_at center print_footer">
            <p>Mulai dari 290 Euro</p>
          </div>

        {% endif %}

      </div>

      <div class="button_row center">
        <a href="mailto:{{site.email}}?subject=Send me more infos about Junglestar's Google Biz package">
          <span class="button center">Mari mulai bicara!</span>
        </a>
      </div>

    {% endif %}
  {% endunless %}

{% endfor %}
