<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": "Junglestar",
    "potentialAction": "Make life easy for your customers!",
    "founder": "Rokma",
    "foundingDate": "2010-04-01",
    "foundingLocation": "Singapore",
    "logo": "http://junglestar.org/android-chrome-192x192.png",
    "email": "me@rokma.com",
    "url": "http://junglestar.org"
  }
</script>


<script type="application/ld+json">
[ {
  "@context" : "http://schema.org",
  "@type" : "WebApplication",
  "name" : "beyondcittastudi",
  "url": "http://beyondcittastudi.org",
  "browserRequirements" : "requires HTML5 support",
  "operatingSystem" : "Windows 7, OSX 10, linux, Android 2.3, Ios 6",
  "applicationCategory" : "website",
  "applicationSubCategory" : "Crowdsourcing Event website"
}, {
  "@context" : "http://schema.org",
  "@type" : "WebApplication",
  "name" : "Binocle",
  "url": "http://binocle.it",
  "browserRequirements" : "requires HTML5 support",
  "operatingSystem" : "Windows 7, OSX 10, linux, Android 2.3, Ios 6",
  "applicationCategory" : "website",
  "applicationSubCategory" : "Architecture Studio website"
}, {
  "@context" : "http://schema.org",
  "@type" : "WebApplication",
  "name" : "OCTOPAL get colors from images",
  "url": "http://octo.junglestar.org/",
  "browserRequirements" : "requires HTML5 support",
  "operatingSystem" : "Windows 7, OSX 10, linux, Android 2.3, Ios 6",
  "applicationCategory" : "web application",
  "applicationSubCategory" : "free online designer tool"
}, {
  "@context" : "http://schema.org",
  "@type" : "WebApplication",
  "name" : "Shopify",
  "url": "https://www.shopify.com/?ref=junglestar",
  "browserRequirements" : "requires HTML5 support",
  "operatingSystem" : "Windows 7, OSX 10, linux, Android 2.3, Ios 6",
  "applicationCategory" : "web platform",
  "applicationSubCategory" : "online store platform"
}, {
  "@context" : "http://schema.org",
  "@type" : "WebApplication",
  "name" : "Quick QRcode",
  "url": "http://qr.junglestar.org/",
  "browserRequirements" : "requires HTML5 support",
  "operatingSystem" : "Windows 7, OSX 10, linux, Android 2.3, Ios 6",
  "applicationCategory" : "web application",
  "applicationSubCategory" : "free online QRcode generator"
}, {
  "@context" : "http://schema.org",
  "@type" : "WebApplication",
  "name" : "Jungle Speak",
  "url": "http://speak.junglestar.org/",
  "browserRequirements" : "requires HTML5 support",
  "operatingSystem" : "Windows 7, OSX 10, linux, Android 2.3, Ios 6",
  "applicationCategory" : "website",
  "applicationSubCategory" : "contemporary language quotes and sources"
}, {
  "@context" : "http://schema.org",
  "@type" : "WebApplication",
  "name" : "Compact Skateboarding History",
  "url": "http://krap.junglestar.org/",
  "browserRequirements" : "requires HTML5 support",
  "operatingSystem" : "Windows 7, OSX 10, linux, Android 2.3, Ios 6",
  "applicationCategory" : "website",
  "applicationSubCategory" : "presentation"
}, {
  "@context" : "http://schema.org",
  "@type" : "WebApplication",
  "name" : "Rocco Marosi",
  "url": "http://roccomarosi.com/",
  "browserRequirements" : "requires HTML5 support",
  "operatingSystem" : "Windows 7, OSX 10, linux, Android 2.3, Ios 6",
  "applicationCategory" : "website",
  "applicationSubCategory" : "Architecture Photography"
}, {
  "@context" : "http://schema.org",
  "@type" : "WebApplication",
  "name" : "Pinksummer",
  "url": "http://pinksummer.com/",
  "browserRequirements" : "requires HTML5 support",
  "operatingSystem" : "Windows 7, OSX 10, linux, Android 2.3, Ios 6",
  "applicationCategory" : "website",
  "applicationSubCategory" : "Contemporary Art"
} ]
</script>
