// Reset some basic elements
blockquote,
body,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
ol,
p,
pre,
ul {
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
  background-color: $brand_color;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  line-height: $base-line-height;
  font-weight: 700;
  color: $text_color;
  -webkit-text-size-adjust: 100%;
  position: relative;
  font-family: $base-font-family;
  // // $base-font-size (with 50px fallback), minumum 35px, maximum 150px
  // @include responsive-font($base-font-size, 35px, 150px, 18px);
  font-size: $base-font-size;
  @include media("screen", ">minWidth") {
    font-size: $base-font-size*1.1;
  }
  @include media("screen", ">bp1Width") {
    font-size: $base-font-size*1.15;
  }
  @include media("screen", ">maxWidth") {
    font-size: $base-font-size*1.2;
  }
}

// Set `margin-bottom` to maintain vertical rhythm
%vertical-rhythm,
blockquote,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
p,
pre,
ul {
  margin-bottom: $spacing_unit / 2;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}

ol,
ul {
  margin-left: $spacing_unit;
}

li {
  > ol,
  > ul {
    margin-bottom: 0;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  @include media("screen", ">minWidth") {
    font-weight: 500;
  }
  @include media("screen", ">maxWidth") {
    font-weight: 300;
  }
}

a {
  color: $link_color;
  text-decoration: none;
  position: relative;
  display: inline-block;
  padding-bottom: 2px;
}

blockquote {
  color: $grey_color;
  border-left: 4px solid $grey_color-light;
  padding-left: $spacing_unit / 2;
  //font-size: 18px;
  letter-spacing: -1px;
  font-style: italic;

  > :last-child {
    margin-bottom: 0;
  }
}

pre {
  font-family: 'Open Sans', sans-serif;
  max-width: 540px;
  display: block;
  font-size: 0.875em;
  font-family: Consolas;
  color: $grey_color-dark;
  line-height: 1.3em;
  margin: 0 auto;
  padding: 0 10px;
}

code {
  background: #fafafd;
  padding: 0.063em;
  border: 0.063em solid #dedede;
}

// Clearfix use it like: @extend %clearfix;
%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

////harder clearing...
// %clearfix {
//   &:before,
//   &:after {
//     content: " ";
//     display: table;
//   }
//   &:after {
//     clear: both;
//   }
// }

// Icons
.icon {
  > svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;

    path {
      fill: $grey_color;
    }
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

strong {
  font-weight: 900;
}
/**
 * Quick fade on target to attract user attention
 */
:target {
  -webkit-animation: target-fade 3s 1;
  -moz-animation: target-fade 3s 1;
}
@-webkit-keyframes target-fade {
  0% {
    background-color: rgba(0,0,0,.1);
  }

  100% {
    background-color: rgba(0,0,0,0);
  }
}
@-moz-keyframes target-fade {
  0% {
    background-color: rgba(0,0,0,.1);
  }

  100% {
    background-color: rgba(0,0,0,0);
  }
}

.center {
  text-align: center;
}

.brand_color {
  color: $brand_color;
}
