.button_row {
  padding-top: $vertical_rhythm--small/8;
  padding-bottom: $vertical_rhythm--small/2;
  width: 100%;
  display: block;
  // this for the book_now button
  .product_text & {
    padding-top: $vertical_rhythm;
    padding-bottom: $vertical_rhythm;
    text-align: center;
  }

  .card & {
    padding-top: $vertical_rhythm--small;
    padding-bottom: 0;
  }

  .offer_page &,
  .product_page & {
    min-width: 100%;
    text-align: center;
  }
}

.button {
  //span inside the <a>
  font-size: 120%;
  background-color: $white;
  display: inline-block;
  width: auto;
  line-height: 32px;
  margin-right: $vertical_rhythm--small/2;
  margin-bottom: $vertical_rhythm--small/2;
  border-radius: 4px;
  padding: 5px 15px;
  -webkit-box-shadow: $card_shadow;
  box-shadow: $card_shadow;
  color: $brand_color;
  border: 2px solid $brand_color;
  margin: $vertical_rhythm auto;
  font-weight: 800;

  &:focus,
  &:hover {
    cursor: pointer;
    background-color: $button_focus_bg;
    -webkit-transform: translateY(0.15em);
    transform: translateY(0.15em);
  }

  &:active {
    background-color: $button_focus_bg;
    -webkit-transform: translateY(0.25em);
    transform: translateY(0.25em);
  }


  .site_header & {
    color: $brand_color;
    border: 2px solid $brand_color;
  }

  &.button--dark {
    background-color: $black;
    color: $white;
    border: 2px solid $white;

    &:focus,
    &:hover {
      cursor: pointer;
      background-color: $brand_color;
      border: 2px solid $brand_color;
    }

    &:active {
      -webkit-transform: translateY(0.25em);
      transform: translateY(0.25em);
    }
  }

  .book_now & {
    background-color: $button_book;
    color: $white;
    font-weight: 500;

    .menu & {
      margin-left: $vertical_rhythm--small/2;
    }
  }
}
