.card {
  font-size: 16px;
  z-index: 10;
  background-color: white;
  -webkit-box-shadow: $card-shadow;
  box-shadow: $card-shadow;
  -webkit-transition: $transition_shadow;
  transition: $transition_shadow;

  &:hover,
  &:focus {
    -webkit-box-shadow: $card-shadow--hover;
    box-shadow: $card-shadow--hover;
  }

  &:active {
    -webkit-transform: translateY(0.25em);
    transform: translateY(0.25em);
  }
  h2,
  h3 {
    padding-top: 0;
  }

  h1 {
    text-align: center;
    text-transform: uppercase;
    height: 15%;
  }
  h2 {
    text-align: center;
  }
  h3 {
    text-align: center;
    height: 20%;
    min-height: 60px;
  }
}
