//EMPTY COLOR clock css
$hour_radius: 300px;
$min_radius: 130px;
$sec_radius: 60px;

$border_size: 0;

$hours_color: white;
$minutes_color: $hours_color;
$seconds_color: $hours_color;

.clockwrap {
  //in this configuration its a flexbox item!
  position: relative; //necessary for inner absolute positioned elements
  left: -$min_radius;
  top: -$min_radius*0.8;
  z-index: 1;
  font-weight:300;
  zoom: .35;
  @include media( "screen", ">minWidth") {zoom: .5; font-weight:100;}
  @include media( "screen", ">bp1Width") {zoom: .7;}
  @include media( "screen", ">maxWidth") {zoom: .9;}

  div{
    text-align: center;
    border-radius: 50%;
    position: absolute;

  }
}

.seconds {
  text-shadow: 1px -1px 5px $brand_color;
  width: $sec_radius;
  height: $sec_radius;

  top: 280px;
  left: 280px;

  z-index: 3;
  font-size: 2rem;
  color: $seconds_color;
  border: $border_size solid $seconds_color;
}

.minutes {
  text-shadow: 1px -1px 10px $brand_color;
  width: $min_radius;
  height: $min_radius;

  top: 250px;
  left: 250px;

  z-index: 2;
  font-size: 5rem;
  color: $minutes_color;
  border: $border_size solid  $minutes_color;
}

.hours {
  //background: url("data:image/svg+xml;charset=UTF-8,<svg></svg>");
  text-shadow: 1px -1px 20px $brand_color;
  width: $hour_radius;
  height: $hour_radius;

  top: $hour_radius/2;
  left: $hour_radius/2;
  z-index: 1;

  font-size: 12rem;
  // font-weight: 100;
  color: $hours_color;
  border: $border_size solid $hours_color;
}
