//EMPTY COLOR clock css
// items dimensions
$hour: 300px;
$min: 110px;
$sec: 70px;
$border_size: 2px;
// items color
$hours_color: $brand_color-invert;
  $minutes_color: $hours_color;
  $seconds_color: $hours_color;

.cover__clock {
  //in this configuration its a flexbox item!
  position: relative;
  left: -4rem;
  top: 0;
  z-index: 10;
  font-weight:300;
  line-height: 1.6;
  transform: scale(.45);
  @include media( "screen", ">minWidth") {transform: scale(.55);}
  @include media( "screen", ">bp1Width") {transform: scale(.65);}
  @include media( "screen", ">maxWidth") {transform: scale(1);}

  @media only screen and (orientation : landscape) {
    left: -9rem;
    top: -2rem;
    @include media( "screen", ">maxWidth") {
      left: 0rem;
      top: -4rem;
    }
  }

  div {
    text-align: center;
    border-radius: 50%;
    position: absolute;
    padding: 1rem;
    background-color: $brand-color;
  }
}

.seconds {
  width: $sec;
  height: $sec;

  top: 270px;
  left: 270px;

  padding: .25rem!important;
  font-size: 2.5rem;
  line-height: 1.5;

  color: $seconds_color;
  border: $border_size solid $seconds_color;
  z-index: 3;
}

.minutes {
  width: $min;
  height: $min;

  top: 250px;
  left: 250px;

  font-size: 3rem;
  line-height: 1.5;

  color: $minutes_color;
  border: $border_size solid  $minutes_color;
  z-index: 2;
}

.hours {
  font-weight:200;
  width: $hour;
  height: $hour;

  top: $hour/2;
  left: $hour/2;
  z-index: 1;

  font-size: 10rem;
  color: $hours_color;
  border: $border_size solid $hours_color;
}
