//EMPTY COLOR clock css
// items dimensions
$hour: 300px;
$min: 110px;
$sec: 70px;
$border_size: 4px;
// items color
$hours_color: lighten($brand_color-invert, 10);
  $minutes_color: $hours_color;
  $seconds_color: $hours_color;

.cover__clock {
  //in this configuration its a flexbox item!
  position: relative;
  left: -4rem;
  top: 0;
  z-index: 10;
  line-height: 1.6;
  transform: scale(.5);
  @include media( "screen", ">minWidth") {transform: scale(.6);}
  @include media( "screen", ">bp1Width") {transform: scale(.7);}
  @include media( "screen", ">maxWidth") {transform: scale(1);}

  @media only screen and (orientation : landscape) {
    left: -9rem;
    top: -2rem;
    @include media( "screen", ">maxWidth") {
      left: 0rem;
      top: -4rem;
    }
  }

  div {
    position: absolute;
    padding: 1rem;
    background-color: $brand-color;
    text-align: center;
    border-radius: 50%;
    border: $border_size solid $seconds_color;
    @include media( "screen", ">minWidth") {
      border: $border_size/2 solid $seconds_color;
    }
  }
}

.seconds {
  padding: .25rem!important;

  width: $sec;
  height: $sec;

  top: 270px;
  left: 270px;
  z-index: 3;

  font-size: 2.5rem;
  line-height: 1.35;
  font-weight:700;
  @include media( "screen", ">minWidth") { font-weight:300;}

  color: $seconds_color;

}

.minutes {
  width: $min;
  height: $min;

  top: 250px;
  left: 250px;
  z-index: 2;

  font-size: 3rem;
  line-height: 1.5;
  font-weight:700;
  @include media( "screen", ">minWidth") { font-weight:300;}

  color: $minutes_color;

}

.hours {
  width: $hour;
  height: $hour;

  top: $hour/2;
  left: $hour/2;
  z-index: 1;

  color: $hours_color;

  font-size: 10rem;
  font-weight:500;
  @include media( "screen", ">minWidth") { font-weight:100;}

}
