.color_black {
  color: $black!important;
}

.color_white {
  color: $white!important;
}

.brand_color {
  color: $brand_color;
}

//svg colors
svg.outlined {
  fill: transparent;
  stroke-width: 8px;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  @include media( "screen", ">minWidth") {
    stroke-width: 6px;
  }
  @include media( "screen", ">bp1Width") {
    stroke-width: 5px;
  }
  @include media( "screen", ">maxWidth") {
    stroke-width: 4px;
  }
}
svg.brand_color {
  stroke: $brand_color;
}
svg.white_color {
  stroke: $white;
}
