//cover
.cover {
  height: 100vh;
  position: relative;
  top:0;
  left:0;
  right:0;
  bottom:0;
  //background: $top_color;// url('http://lakto.org/c.jpg') no-repeat center center fixed;
  background-size: cover;

  background-image:
  linear-gradient(
      to bottom,
      darken($brand_color, 5%),
      white 85vh
    );
}

.cover__title {
  color: darken($brand_color, 5%) ;
  text-align: right;
  text-shadow: 1px 0 10px white;
  position: relative;
  z-index: 11;
  top: 80%;
  @media only screen and (orientation : landscape) {
    top: 65%;
  }

  margin-right: 6vw;
  @include media( "screen", ">minWidth") {margin-right: 7vw;}
  @include media( "screen", ">bp1Width") {margin-right: 8vw;}
  @include media( "screen", ">maxWidth") {margin-right: 9vw;}


  .name h1{
    margin: -4rem 0 0 0;
    line-height: 1.25;
    font-size: 14vw;
    @include media( "screen", ">minWidth") {font-size: 11vw; margin: -2rem 0 0 0;}
    @include media( "screen", ">bp1Width") {font-size: 9vw;}
    @include media( "screen", ">maxWidth") {font-size: 7rem;}
  }
  .desc {
    font-size: 1.2rem;
    max-width: 400px;
    margin: 0 0 0 auto;
  }
  .btn {
    color: darken($brand_color, 5%);
    //padding: 8px 20px;
    margin-top: 1rem;
    border-radius: 20px;
    cursor: pointer;
  }
}
