//cover
.cover {
  height: 100vh;
  position: relative;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-size: cover;
  background-color: $brand_color;

  // display: flex;
  // align-items: center;
  // justify-content: flex-end;
}

.cover__title {
  color: white;
  text-align: right;
  position: relative;
  z-index: 11;
  width: 100% ;

  padding-top: 50vh;
  @media only screen and (orientation : landscape) {
    padding-top: 0;
  }
  @include media( "screen", ">maxWidth") {
    padding-top: 50vh;
  }

  .name h1 {
    margin: 0;
    padding-bottom: 4px;
    line-height: 1;

    @include responsive-font(10vw, 50px, 150px, 50px);

  }

  .desc {
    @include responsive-font(2.2vw, 21px, 55px, 36px);
    max-width: 600px;
    margin: 10px 0 0 auto;
  }

  .btn {
    border-radius: 20px;
    cursor: pointer;
  }
}

.works_title {
  color: $brand_color;
}

.animated_svg_wrap {
  position: relative;
}
.jeistar {
  height: 60vh;
  position: absolute;
  top: 2rem;
  left: 2rem;

}
