//cover

.cover {
  height: 100vh;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-color: $brand_color;
}

.cover__title {
  color: white;
  text-align: center;
  position: relative;
  z-index: 11;
  width: 100%;
  @media only screen and (orientation : landscape) {
    padding-top: 0;
  }
  @include media("screen", ">maxWidth") {
    padding-top: 10vh;
  }

  .name h1 {
    margin: 0;
    padding-bottom: 4px;
    line-height: 1;
    @include responsive-font(10vw, 50px, 150px, 50px);
  }

  .desc {
    @include responsive-font(2.2vw, 21px, 55px, 36px);
    margin: 10px 0 0 auto;
    text-align: center;
  }

  .btn {
    border-radius: 20px;
    cursor: pointer;
  }
}

.animated_svg_wrap {
  display: flex;
}

.jeistar {
  width: 80vw;
  height: 50%;
  @include media("screen", ">minWidth") {
    height: 50vh;
    padding-top: 10vh;
  }
}

.to_presentation {
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.to_about {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
