.flex {
  display: flex;
  flex-direction: row;

  &.flex_cols {
    flex-direction: column;
  }

  &.flex_rows {
    flex-direction: row;
  }

  &.flex_align_center {
    align-items: center;
  }

  &.flex_align_baseline {
    align-items: baseline;
  }

  &.flex_wrap {
    flex-wrap: wrap;
  }

  &.flex_justify_center {
    justify-content: center;
  }

  &.flex_align_content_center {
    align-content: center;
  }

  &.flex_col_bp1_row {
    flex-direction: column;
    @include media("screen", ">bp1Width") {
      flex-direction: row;
    }
  }
  &.flex_row_bp1_col {
    flex-direction: row;
    @include media("screen", ">bp1Width") {
      flex-direction: column;
    }
  }
  &.flex_col_bp1_row {
    flex-direction: row;
    @include media("screen", ">bp1Width") {
      flex-direction: column;
    }
  }

  &.flex_cols_max {
    flex-direction: column;
    @include media("screen", ">maxWidth") {
      flex-direction: row;
    }
  }
  &.flex_self_star {
    align-self: flex-start;
  }



}
