h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: 400;
  line-height: 1.44;
}


h1 {
  //font-size: $heading1;
  padding-top: $heading1/2;
  padding-bottom: $heading1/2;
  font-weight: 500;
  @include responsive-font(5vw, $heading1, $heading1*1.5, $heading1);
}

h2 {
  @include responsive-font(4vw, $heading2, $heading2*2, $heading2);
  line-height: 1;
  padding-top: $heading2/2;
  padding-bottom: $heading2/2;
}
h3 {
  @include responsive-font(3vw, $heading3, $heading3*2, $heading3);
  line-height: 1;
  padding-top: $heading3/2;
  padding-bottom: $heading3/2;
}
h4 {
  @include responsive-font(2vw, $heading4, $heading4*2, $heading4);
  line-height: 1;
  padding-top: $heading4/2;
  padding-bottom: $heading4/2;
}
h5 {
  font-size: $heading5;
  line-height: 1;
  padding-top: $heading5/2;
  padding-bottom: $heading5/2;
}
h6 {
  font-size: $heading6;
  line-height: 1;
  padding-top: $heading6/2;
  padding-bottom: $heading6/2;
}



.top_padded {
  padding-top: 115px;
}
