h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: 400;
  line-height: 1.44;

  .offer_content &,
  .section & {
    color: $brand_color;
  }
}

h1 {
  //@include responsive-font(5vw, $heading1, $heading1*1.2, $heading1);
  @include responsive-font($heading1_responsive, $heading1_min, $heading1_max, $heading1_fallback);
  line-height: 1.1;
  padding-top: 2vh;
  padding-bottom: 2vh;
  font-weight: 500;
}

h2 {
  @include responsive-font(4vw, $heading2, $heading2*1.3, $heading2);
  line-height: 1.1;
  padding-top: $heading2;
  padding-bottom: $heading2;
}

h3 {
  @include responsive-font(3vw, $heading3, $heading3*1.35, $heading3);
  line-height: 1.1;
  padding-top: $heading3;
  padding-bottom: $heading3;
}

h4 {
  @include responsive-font(2.5vw, $heading4, $heading4*1.4, $heading4);
  line-height: 1.1;
  padding-top: $heading4;
  padding-bottom: $heading4;
}

h5 {
  @include responsive-font(2vw, $heading5, $heading5*1.4, $heading5);
  font-size: $heading5;
  line-height: 1;
  padding-top: $heading5;
  padding-bottom: $heading5;
}

h6 {
  font-size: $heading6;
  line-height: 1;
  padding-top: $heading6;
  padding-bottom: $heading6;
}

.top_padded {
  padding-top: 115px;
}
