// Home

.home_content {
  max-width: 540px;
  margin: 0 auto;
  padding: 0 10px;
  a {
    font-size: $base-font-size*1.75;
    padding: 10px;
    &:hover {
      background: #fafafd;
      outline:  1px solid $bot_color;
    }
  }
  a::before {
      width: 0;
  }
  .post-meta {
      text-align: right;
  }
}
