// Site header

.site-header {
  min-height: 56px; //max-width: 940px;
  margin: 0 auto;
  padding: 0 10px;
  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-header::before {
  content: '';
  position: absolute;
  width: 100%;
}

.site-title {
  font-size: 2rem;
  line-height: 2;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;
  color: white;
}

.site-nav {
  font-size: $base-font-size*1.25;
  float: right;
  line-height: 2;
  .page-link { color: $grey-color; }
  .page-link {
    display: inline-block;
    width: auto;
    padding: 15px;
  }
}

// Page content
.page-content { padding: $spacing-unit 0;}
.page-heading { font-size: 1.5rem;}

.post-list {
  margin-left: 0;
  list-style: none;
  > li { margin-bottom: $spacing-unit/2; }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
  text-align: right;
  display: none;
  .post-link:hover & {
    display: inline;
    float: right;
    line-height: 42px;
    padding: 6px 0;
  }
}

.post-link {
  display: block;
  font-size: 1.75rem;
}



//styling hr
hr {
    border: 0;
    height: 1px;
    width: 75%;
    margin: 2rem auto;
    background-color: rgba(255, 255, 255, 0.25);
}
