//Post

.post-meta { display: none;}

// Posts
.post-header {
  padding: 0 $spacing-unit;
  color: $grey_color;
  max-width: 540px;
  margin: 0 auto;
  margin-bottom: $spacing-unit;
}

.post-title {
  font-size: 1.2rem;
  letter-spacing: -1px;
  line-height: .5;
  @include media( "screen", ">maxWidth") {font-size: 3rem;}
}

.post-content {
  padding: 0 $spacing-unit;
  color: $grey_color;
  margin-bottom: $spacing-unit;
  p {
    max-width: 540px;
    margin: 0 auto;
    line-height: 1.5;
    margin-bottom: 20px;
  }

  h2 {
    font-size: 2rem;
    @include media( "screen", ">maxWidth") {font-size: 3rem;}
    max-width: 540px;
    padding: 0px 10px;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  h3 {
    font-size: 1.75rem;
    @include media( "screen", ">maxWidth") {font-size: 2rem;}
    max-width: 540px;
    padding: 0px 10px;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  h4 {
    font-size: 1.5rem;
    @include media( "screen", ">maxWidth") {font-size: 1.75rem;}
    max-width: 540px;
    padding: 0px 10px;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .highlight {
    color: #333;
    z-index: -1;
    background: #fafafd;
    border: 0.063em solid #dedede;
    border-right: 0em solid #fff;
    line-height: 1.5;
    padding-top: 1em;
    padding-bottom: 1em;
    left: 0;
    right: 0;
    margin: 20px 0px;
  }

  ul {
    max-width: 540px;
    padding: 0 10px;
    padding-left: 40px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
}
