figure {
  position: relative;
  margin: 0;
  padding: 0;
}

.figcaption {
  position: absolute;
  top: $vertical_rhythm--small;
  right: 0;
  padding: 0 5px;
  text-transform: capitalize;
  font-weight: 400; //400;600;700
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

  &.coming-soon {
    background-color: yellow;
    color: black;
  }

  &.new {
    background-color: red;
    color: white;
  }
}

.product_grid {
  @extend %clearfix;
  margin: 0 $spacing_unit-big;
  display: flex;
  flex-direction: column;
  @include media("screen", ">maxWidth") {
    display: flex;
    flex-direction: row;
    align-items: stretch;
  }
}

.looper__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: $vertical_rhythm;
}

.product_text {
  margin-top: $vertical_rhythm--small;
  margin-bottom: $vertical_rhythm--small;
  padding-top: $vertical_rhythm;
  padding-bottom: $vertical_rhythm;

  .product & {
    @include media("screen", ">minWidth") {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
    }
  }

  h1 {
    padding-bottom: $vertical_rhythm--small/2;
  }

  h2,
  h3 {
    padding-top: $vertical_rhythm--small/2;
    padding-bottom: $vertical_rhythm--small/2;
  }
}

blockquote p {
  font-size: 1.25rem;
  line-height: 1.25;
  font-weight: 400; //400;600;700
  padding-left: $vertical_rhythm--small;
  @include media("screen", ">minWidth") {
    max-width: 400px!important;
    margin: 0 auto 0 10%;
    padding-left: $vertical_rhythm;
  }
  @include media("screen", ">maxWidth") {
    max-width: 500px!important;
    margin: 0 auto 0 10%;
    padding-left: $vertical_rhythm;
  }

  em {
    font-size: 80%;
    font-weight: 400; //400;600;700
  }
}

.product_image {
  position: relative;
  width: 100%;
}

.product_image_group {
  position: relative;
  width: 100%;
}

.product_group {
  height: 30px;
  line-height: 34px;
  text-align: right;
  text-transform: uppercase;
  font-weight: 700; //400;600;700
  padding-left: $vertical_rhythm--small;
  padding-right: $vertical_rhythm--small;
  color: transparentize($black, .85);

  .index & {
    height: 24px;
    line-height: 18px;
  }
}

.product_section {
  width: 100%;
  margin-bottom: $vertical_rhythm--small;
}

.product_page {
  ul {
    max-width: 300px;
    margin: $spacing_unit/2 auto $spacing_unit;
  }

  .page_content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    .card {
      display: block;
      position: relative;
      left: auto;
      margin: 0 auto;
      min-width: 90%;
      max-width: 90%;
      @include media("screen", ">bp1Width") {
        min-width: 50vw;
        max-width: 50vw;
      }

      &:hover {
        -webkit-transform: none;
        transform: none;
      }
    }
  }
}

.offer_content {
  //padding-top: $spacing_unit-big;
  padding-bottom: $spacing_unit-big*2;
}

.offer_page {
  ul {
    margin-left: 5px;
    max-width: 300px;
    margin: $spacing_unit/2 auto $spacing_unit;
  }
}
