<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">

  {% if page.no_index %}
    {% include head_no_index.html %}
  {% else %}
    {% include head.html %}
  {% endif %}

  <body class="{% if page.title %}{{ page.title | slugify }}_page{% endif %} {% if page.is_home %} home{% endif %} {% if page.layout == "product" %}product_page{% endif %}">

    <span id="top"></span>

    {% include svg/defs.html %}

    {% include header.html %}

    {{ content }}

    {% include footer.html %}

    {% include script_scroll_to.html %}

    {% if page.title contains 'offer' %}
      {% include script_card.html %}
    {% endif %}

    {% include script_append_to_copy.html %}

    {% include script_microdata.html %}

    {% include script_ext_link.html %}

    {% include script_google_analytics.html %}

  </body>

</html>
