---
layout: default
---

{% if page.title contains "offer" %}
<div class="section light_bg offer_content">

  {% comment %}
  scrolltarget div wrap is needed cos js will scroll to the vertical center of the div block
  {% endcomment %}
  <div class="scrolltarget">
    {% include product_loop_title.html %}
  </div>

  {% include product_loop_group.html %}

</div>

<div class="offer_content light_bg">

  {% include product_streetbiz.html %}

</div>
{% endif %}


{% if page.title contains "about" %}
<div class="page_content">
  {% include about.html %}
</div>
{% endif %}


{% if page.title contains "design" %}
<div class="page_content">
  {% include design.html %}
</div>
{% endif %}
