---
layout: default
---
<div class="card {{ page.product_group }} section {% if page.bestseller %}bestseller{% endif %} {% if page.bestvalue %}bestvalue{% endif %}" title="{{ page.name }}" >

  <div class="product_text">

    <h1>{{page.name}}</h1>

    <h2 class="center">{{page.product.name}}</h2>

    <h4 class="center color_black">{{page.product.type}}</h4>

    <h3 class="center">{{page.product.subname}}</h3>

    <p class="center">{{page.product.desc}}</p>

    <div class="selling_points">

      {% if page.product.selling_points.sp01 %}
      <div class="center">GET:</div>

      <ul>

        <li class="checkmark">{{page.product.selling_points.sp01}}</li>

        {% if page.product.selling_points.sp02 %}
        <li class="checkmark">{{page.product.selling_points.sp02}}</li>
        {% endif %}

        {% if prodpageuct.product.selling_points.sp03 %}
        <li class="checkmark">{{page.product.selling_points.sp03}}</li>
        {% endif %}

        {% if page.product.selling_points.sp04 %}
        <li class="checkmark">{{page.product.selling_points.sp04}}</li>
        {% endif %}

        {% if page.product.selling_points.sp05 %}
        <li class="checkmark">{{page.product.selling_points.sp05}}</li>
        {% endif %}

        {% if page.product.selling_points.sp06 %}
        <li class="checkmark">{{page.product.selling_points.sp06}}</li>
        {% endif %}

        {% if page.product.selling_points.sp07 %}
        <li class="checkmark">{{page.product.selling_points.sp07}}</li>
        {% endif %}

        {% if page.product.selling_points.sp08 %}
        <li class="checkmark">{{page.product.selling_points.sp08}}</li>
        {% endif %}

      </ul>
      {% endif %}

    </div>

    <div class="starting_at center">
      <p>Starting at {{page.product.starting_at }} Euro</p>
    </div>

    <div class="button_row center">
      <a href="mailto:{{site.email}}?subject=Send me more infos about Junglestar's {{page.name | upcase}} package">
        <span class="button center">Let's start talking...</span>
      </a>
    </div>

  </div>

</div>
