//EMPTY COLOR clock css
$hour_radius: 300px;
$min_radius: 100px;
$sec_radius: 40px;

$border_size: 0;

$hours_color: hsla(45, 100%, 60%, .85);
$minutes_color: hsla(30, 100%, 48%, .75);
$seconds_color: hsla(0, 100%, 48%, .75);

.clockwrap {
  //flexbox item
  position: relative; //necessary for inner absolute positioned elements
  left: -$min_radius;
  top: -$min_radius*0.8;
  z-index: 1;
  font-weight:300;
  zoom: .35;
  @include media( "screen", ">minWidth") {zoom: .5; font-weight:100;}
  @include media( "screen", ">bp1Width") {zoom: .7;}
  @include media( "screen", ">maxWidth") {zoom: .9;}


  div{
    text-align: center;
    border-radius: 50%;
    position: absolute;

  }
}

.seconds {
  font-weight: bold;
  width: $sec_radius;
  height: $sec_radius;

  top: 280px;
  left: 280px;

  z-index: 3;
  line-height: $sec_radius/1.25;
  font-size: 1.25rem;
  color: $seconds_color;
  border: $border_size solid $seconds_color;
}

.minutes {
  font-weight: 300;
  width: $min_radius;
  height: $min_radius;

  top: 250px;
  left: 250px;

  z-index: 2;
  line-height: $min_radius/1.1;
  font-size: 3.5rem;
  color: $minutes_color;
  border: $border_size solid  $minutes_color;
}

.hours {
  //background: url("data:image/svg+xml;charset=UTF-8,<svg></svg>");
  width: $hour_radius;
  height: $hour_radius;

  top: $hour_radius/2;
  left: $hour_radius/2;
  z-index: 1;

  line-height: 1.45;
  font-size: 12rem;
  // font-weight: 100;
  color: $hours_color;
  border: $border_size solid $hours_color;
}
